<footer class="page-footer">
		<hr>
		<ul class="page-footer-menu">
		{{ range .Site.Menus.footer }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	<div class="copyright">
	<p>
    {{ with .Site.Params.copyright }}
      {{ . | safeHTML }}
    {{ else }}
      &copy; {{now.Format "2006"}}
    {{ with .Site.Params.copyrightHolder }}{{ . }}{{end}}.
    All rights reserved.
    {{end}}
  </p>
</div>
</footer>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js" integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/r.min.js"></script>
<script>
  hljs.configure({languages: []});
  hljs.initHighlightingOnLoad();
</script>
</html>